@model MvcApplication2.Models.Plant

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Plant</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlantName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlantName)
            @Html.ValidationMessageFor(model => model.PlantName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlantLocation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlantLocation)
            @Html.ValidationMessageFor(model => model.PlantLocation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlantAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlantAddress)
            @Html.ValidationMessageFor(model => model.PlantAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BrewPubMenu)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BrewPubMenu)
            @Html.ValidationMessageFor(model => model.BrewPubMenu)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
