@model MvcApplication2.ViewModel.ViewModelPlants

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Plant.PlantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plant.PlantLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plant.PlantAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plant.BrewPubMenu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Plants) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlantLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlantAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrewPubMenu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlantID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlantID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlantID })
        </td>
    </tr>
}

</table>


<p></p>
   <h3>Plants Test</h3>
             @Html.Partial("_PlantGrid", Model.Plants)


<p></p>
