@model IEnumerable<MvcApplication2.Models.EQControlLoop>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TagName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeasuredValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SetPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Output)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HIHIAlarm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HIAlarm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOAlarm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOLOAlarm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReverseActing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SimMeasValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnableTrending)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plant.PlantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EQType.TypeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssetTag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TagName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeasuredValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SetPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Output)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HIHIAlarm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HIAlarm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOAlarm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOLOAlarm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReverseActing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SimMeasValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnableTrending)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plant.PlantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EQType.TypeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EquipName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssetTag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BaseEquipID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BaseEquipID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BaseEquipID })
        </td>
    </tr>
}

</table>
